@using Microsoft.VisualBasic
@using System.Globalization
@using System.Runtime.InteropServices
@{
    ViewData["Title"] = "Home";
}

@model HomepageData

<div class="row">
                
    <div class="col-6 rounded-borders-blue">
        <h2 class="col-12 home-hdr" style="margin: auto;">Dagens väder</h3>
            <table>
                <tbody>
                @foreach (var element in Model.Weather.timeSeries.Take(12)) {
                    <tr>
                        <td>
                            <p style="direction: rtl;">
                                <span style="white-space: nowrap; direction: ltr; display: inline-block;">
                                    <time>
                                        @element.time.ToString("dd MMM HH:mm", new CultureInfo("sv-SE"))
                                    </time>
                                </span>
                            </p>
                        </td>
                        <td>
                            @element.data.air_temperature&deg C
                        </td>       
                        <td>
                            <p class="weather-icon">
                                <img src="~/Img/@(element.data.symbol_code).webp" alt="@(element.data.symbol_code).webp">
                            </p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

    <div class="col-6 rounded-borders-blue">
        <h2 class="col-12 home-hdr">Dagens schema</h3>
        <h1>Test:</h1>
            <p>@Model.Calendar.userId</p>
            <p>@Model.Calendar.id</p>
            <p>@Model.Calendar.title</p>
            <p>@Model.Calendar.completed</p>
    </div>

</div>