@using Microsoft.VisualBasic
@using System.Globalization
@using System.Runtime.InteropServices
@{
    ViewData["Title"] = "Home";
}

@model HomepageData

<div class="row g-0">
                
    <div class="col-6 rounded-borders-blue">
        <h2 class="col-12 home-hdr" style="margin: auto;">Dagens väder</h2>
            <table>
                <tbody>
                @foreach (var element in Model.Weather.timeSeries.Take(12)) {
                    <tr>
                        <td>
                            <p style="direction: rtl;">
                                <span style="white-space: nowrap; direction: ltr; display: inline-block;">
                                    <time>
                                        <strong>@element.time.ToString("dd MMM HH:mm", new CultureInfo("sv-SE"))</strong>
                                    </time>
                                </span>
                            </p>
                        </td>
                        <td>
                            <strong>@element.data.air_temperature&deg C</strong>
                        </td>       
                        <td>
                            <p class="weather-icon">
                                <img src="~/Img/@(element.data.symbol_code).webp" alt="@(element.data.symbol_code).webp">
                            </p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

    <div class="col-6 rounded-borders-blue">
        <h2 class="col-12 home-hdr" style="margin: auto;">Dagens schema</h2>
            <table>
                <tbody>
                @foreach (var element in Model.Calendar.Events) {
                    
                    // Google does not allow changing own display name, manual workaround
                    var calendarName = @element.Organizer.DisplayName;
                    if (calendarName != "Amanda + André")
                    {
                        calendarName = "André";
                    }

                    <tr class="calendar">
                        <td>
                            <strong>@element.Start.DateTimeDateTimeOffset?.ToString("HH:mm")-@element.End.DateTimeDateTimeOffset?.ToString("HH:mm")</strong>
                        </td>
                        <td>
                            <strong>@element.Summary</strong>
                        </td>
                        <td>
                            <strong>@calendarName</strong>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
    </div>

</div>