@{
    ViewData["Title"] = "Home";
}

@model HomepageData
<div class="container">

<div class="row">
    <div class="col-md-6">
        <h3 class="center">Today's weather</h3>
        <p>Current prognosis was created: @Model.Weather.createdTime</p>
        <p>Prognosis based on coordinates: @Model.Weather.geometry.coordinates[1] @Model.Weather.geometry.coordinates[0]</p>
        <div class="row">
            <div class="col-md-6">
                <p>@Model.Weather.timeSeries[0].time</p>
                <p>@Model.Weather.timeSeries[1].time</p>
                <p>@Model.Weather.timeSeries[2].time</p>
                <p>@Model.Weather.timeSeries[3].time</p>
                <p>@Model.Weather.timeSeries[4].time</p>
                <p>@Model.Weather.timeSeries[5].time</p>
                <p>@Model.Weather.timeSeries[6].time</p>
                <p>@Model.Weather.timeSeries[7].time</p>
                <p>@Model.Weather.timeSeries[8].time</p>
                <p>@Model.Weather.timeSeries[9].time</p>
                <p>@Model.Weather.timeSeries[10].time</p>
                <p>@Model.Weather.timeSeries[11].time</p>
            </div>
            <div class="col-md-6">
                <p>@Model.Weather.timeSeries[0].data.air_temperature &degC</p>
                <p>@Model.Weather.timeSeries[1].data.air_temperature &degC</p>
                <p>@Model.Weather.timeSeries[2].data.air_temperature &degC</p>
                <p>@Model.Weather.timeSeries[3].data.air_temperature &degC</p>
                <p>@Model.Weather.timeSeries[4].data.air_temperature &degC</p>
                <p>@Model.Weather.timeSeries[5].data.air_temperature &degC</p>
                <p>@Model.Weather.timeSeries[6].data.air_temperature &degC</p>
                <p>@Model.Weather.timeSeries[7].data.air_temperature &degC</p>
                <p>@Model.Weather.timeSeries[8].data.air_temperature &degC</p>
                <p>@Model.Weather.timeSeries[9].data.air_temperature &degC</p>
                <p>@Model.Weather.timeSeries[10].data.air_temperature &degC</p>
                <p>@Model.Weather.timeSeries[11].data.air_temperature &degC</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Today's calendar</h3>
        <p>@Model.Calendar?.UserId</p>
    </div>
</div>

</div>