@{
    ViewData["Title"] = "Home";
}

@model HomepageData

<div class="row">
    <div class="col-md-6">
        <h3>Weather right now</h3>
        <p>Created Time: @Model.Weather.createdTime</p>
        <p>Reference Time: @Model.Weather.referenceTime</p>
        <p>Time: @Model.Weather.timeSeries[0].time</p>
        <p>Temperature: @Model.Weather.timeSeries[0].data.air_temperature</p>
    </div>

    <div class="col-md-6">
        <h3>Today's calendar</h3>
        <p>@Model.Calendar?.UserId</p>
    </div>
</div>
